
<ui-bind path="common.page" config="show:value === 'site'" class="block">
	<ui-plugin path="common">
		<ui-component name="viewbox" config="parent:window;scrollbar:1;scrollbarshadow:1;margin:90" class="invisible" style="margin-right:64px">
			<ui-component name="empty" path="common.items" config="parent:auto" class="invisible">
				<script type="text/html">
					<div>@(This company doesn't contain any site)</div>
					<div class="m b">@(Create something awesome)</div>
					<div style="max-width:220px;margin:0 auto;width:100%;padding:5px">
						<button class="exec button b" data-exec="common/create"><i class="ti ti-company mr5"></i>@(Create New Site)</button>
					</div>
				</script>
				<div>
					<div class="padding npb help nmt">
						<span style="font-size:12px"><i class="ti ti-company"></i></span><ui-bind path="common.items" config="text b:value ? value.length : 0">@(Total Site): <b></b></ui-bind>
					</div>
					<ui-bind path="common.items" config="template" class="flowstreams">
						<script type="text/html">
								<div class="flows">
									{{ foreach i in value }}
										<figure data-id="{{ i.id }}">
											<section{{ if i.color }} style="border-color:{{ i.color }}"{{ fi }}>
												<div class="options exec" data-exec="common/contextmenu" data-prevent="true"><i class="ti ti-ellipsis-v"></i></div>
												<div class="icon"{{ if i.color }} style="color:{{ i.color }}"{{ fi }}><i class="{{ i.icon }}"></i></div>
												<div class="meta">
													<div class="name">{{ i.name }}</div>
													<div class="proxy"><strong>@(Unified Namespace)</strong>: {{ i.namespace | empty }}</div>
													<div class="proxy"><i class="ti ti-server mr5"></i>@(Status): <span style="color:green">Healthy</span></div>
												</div>
												<div class="stats">
													<div><span>0</span><label>@(Total Area)</label></div>
												</div>
											</section>
										</figure>
									{{ end }}
								</div>
						</script>
					</ui-bind>
				</div>
			</ui-component>
		</ui-component>
	</ui-plugin>
</ui-bind>